{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block meta_title %}{{ this.meta_title or this.title}}{% endblock %}
{% block meta_description %}{{ this.meta_description }}{% endblock %}
{% block og_title %}{{ this.og_title or this.meta_title or this.title }}{% endblock %}
{% block og_description %}{{ this.og_description or this.meta_description }}{% endblock %}
{% block twitter_title %}{{ this.twitter_title or this.og_title or this.meta_title or this.title }}{% endblock %}
{% block twitter_description %}{{ this.twitter_description or this.og_description or this.meta_description }}{% endblock %}
{% block body %}
<div class="container-fluid container-page">
	{{ this.body }}
	<ul class="directory-index">
	  {% for page in this.children recursive %}
	  <li><a href="{{ page|url }}">{{ page.record_label }}</a>
		{% if page.children %}
		  <ul>{{ loop(page.children|sort(attribute='path')) }}</ul>
		{% endif %}
	  </li>
	  {% endfor %}
	</ul>
</div>
{% endblock %}
