/*
	light sections:
		background- #EDE0CC
		text- #C7522F
*/

/* lock the screen size to the hero pix */
.container, .container-fluid {
	max-width: 960px;
}

header, footer {
	background-color: #EDE0CC;
	color: #C7522F;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(199,82,47,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand img {
	max-width: 200px;
	max-height: 40px;
}
.callout-banner {
	background: #000;
	color: #FFF;
	text-align: center;
}
.callout-banner p {
	margin: 5px 0 5px 0;
}
.callout-banner a {
	color: inherit;
	text-decoration: underline;
}
.callout-banner a:hover {
	color: #EDE0CC;
	text-decoration: none;
}

.footer-links {
	list-style: none;
	text-align: center;
}
	.footer-links li {
		display: inline-block;
	}
	.footer-links img {
		width: 45px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.footer-links li:hover {
		-webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
	  	filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .7));
	}


.clear {
	clear: both;
}



